.main {
    margin-left: 40px;
}

.btn {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.field {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}