<template>
  <div>
    <img :src="url" :alt="alt" class="zoom-custom-imgs image">
  </div>
</template>

<script>
export default {
    name: 'ImageLinks', 
    props: [ "src", "alt"],
    data(){
      return {
        base: '../assets/',
        url: require(`../assets/${this.src}`)
      }
    },
    methods: {
      
    }
}
</script>

<style>

</style>